%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
  %body
    %p
      = "Account #{@account.name} with value #{@account.value} is below critical limit #{@account.critical_value}"
